.jetpack-display-remote-posts.jetpack-display-remote-posts {
	margin: 0 !important;

	h4, a {
		margin-bottom: 0.5rem !important;
	}

	a {
		display: block;
	}

	p {
		margin-bottom: 1.5rem !important;
	}
}