body {
	background: white;
}

html, body, #page {
	-webkit-overflow-scrolling: touch;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: #FFFFFF;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: #000000;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}


.page-links {
	margin: 1rem 0;
}

.page-links a {
	@extend %a;
	display: inline-block;
	padding: 0 0.5em;
	margin-left: 0.25em;
	box-shadow: white 0 1.5em inset;
}

.nav-links {
	@extend .clearfix;
	margin-top: 2rem;
	margin-bottom: 2rem;

	div:empty {
		display: none;
	}
}

.nav-previous, .nav-next {
	background-color: $neutral;
	transition: all .2s ease-in-out;

	&:hover {
		background-color: $secondary;
	}

	&:empty {
		display: none;
	}

	.attachment & {
		padding: 0;
		background: none;
	}
}

.nav-previous {
	@extend %float--left;
	@extend .btn;
}

.nav-next {
	@extend %float--right;
	@extend .btn;
}

.more-link-wrapper {
	@extend %ends--soft;

	a {
		color: white;
	}
}

.more-link {
	@extend .btn;
	background-color: $primary;
}

// for the image attachment page
.post-navigation .meta-nav {
  margin-right: 0.35714em;
}

.tiled-gallery {
	margin-left: -100px !important;
	margin-right: -100px !important;
	width: calc(100% + 200px)
}

// Hide the footer smiley icon
#wpstats{
	position: fixed;
	left: -9999px;
	bottom: 0;
}
