table {
	@extend %table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

th {
	text-align: left;
}

tr {
	border-bottom: 1px solid $light;

	table > &:last-child,
	table > :last-child > &:last-child {
		border-bottom: 0;
	}
}

th, td {
	padding: .5em;
	vertical-align: middle;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}